* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    color: white;
    box-sizing: border-box;
}
.header {
    background-color: #1F2937;
}
.header-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}
.top-info {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 10px 0px;
}
.links {
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px 0px;
    display: flex;
    gap: 30px;
}
.first-block {
    background-color: white;
    min-height: 25vh;
}
.second-block {
    display: flex;
    background-color: #E5E7EB;
    min-height: 25vh;
}
.third-block {
    display: flex;
    background-color: white;
    min-height: 20vh;
}
/*Header block styling */
.text-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.text, .img {
    width: 50%;
    box-sizing: border-box;
}
.text-img h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.text-img p {
    font-size: 18px;
    color: #e5e7eb;
}
.text-img button {
    background-color: #3882F6;
    border: 0px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
}
.text {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}           
/*Header block styling */
.first-block {
    width: 60%;
    margin: 0 auto;
}
.block-style {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 50px 0px;
}
.first-block h2 {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    margin: 20px;
    
}
.first-block p {
    color: black;
}
.boxes-text {
    display: flex;
}
.box {
    border: 4px solid #3882F6;
    border-radius: 10px;
    width: 130px;
    height: 120px;
   
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    min-height: 5vh;
}
.block-style p {
    width: 130px;
    font-size: 17px;
    text-align:center;
    color: darkslategrey;
}
.second-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-block {
    margin: 100px;
}
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 200px;
}
.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.author p {
    font-size: 30px;
    color: #1F2937;
    font-weight: 700;
    text-align: right;
}


